.bin-clock-root {
    margin: 16px;
    padding: 32px;
    border: 6px double lightgrey;
    border-radius: 12px;
}

.bin-clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bin-clock-separator {
    margin: 0px 8px;
    font-size: 24px;
}
