.bin-clock-bulb-base {
    margin: 2px;
    border-radius: 6px;
    transition: all 0.1s;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
}

.bin-clock-bulb-md {
    width: 24px;
    height: 24px;
}

.bin-clock-bulb-lg {
    width: 48px;
    height: 48px;
}
